<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.secu.dao.PassDAO">

    <insert id="pss" parameterType="passmail">
        INSERT INTO PSS VALUES(#{pw}, #{mail})
    </insert>

    <select id="pss2" parameterType="passmail" resultType="passmail">
        SELECT * FROM PSS WHERE MAIL=#{mail}
    </select>
</mapper>